    <header>
            <div class="flex items-center justify-between h-12 border-b my-2 px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800">TailwindCSS Components</div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>