
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Checkboxes</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800 flex items-center">
                  <img src="/images/logo.png" class="w-8 h-8 float-left mr-3" /> 
                  <span class="text-sky-700">Tailwind Stamps</span></div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 hidden md:block border-r pt-5 mr-5 pr-5 text-gray-700 overflow-y-scroll">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/cards/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Cards
                </div>
            </a>
            <a href="/components/checkbox/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Checkbox
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/input-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Input Box
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/radio-buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Radio Buttons
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
            <a href="/components/select-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Select Box
                </div>
            </a>
            <a href="/components/toggle/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Toggle
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-auto px-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Checkbox</h2>
<!-- CheckBoxes-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox</h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="w-max">
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2" checked/>
            <span>Option 1</span>
        </label>
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
            <span>Option 2</span>
        </label>
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
            <span>Option 3</span>
        </label>
    </div>
</div>
</div>
<!-- Inline Checkboxes-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Inline CheckBox</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="w-max flex">
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2" checked/>
                <span>Option 1</span>
            </label>
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
                <span>Option 2</span>
            </label>
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
                <span>Option 3</span>
            </label>
        </div>
    </div>
</div>
<!-- Checkboxes with Description-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox with Description</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="w-96">
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="defualt-checkbox" class="peer w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800 ">Default Checkbox</span>
                    <span class="block text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur ...</span>
                </div>
            </label>
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="logner-description" class="w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800">Longer checkbox items that wraps on to seperate lines</span>
                    <span class="block text-sm text-gray-500">Lorem ipsum dolor sit asdf as asdf asf asd fasf af a asf as asdf asdfa</span>
                </div>
            </label>
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="no-description" class="w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800">Checkbox with no description</span>
                </div>
            </label>
        </div>
    </div>
</div>
<!-- CheckBoxes-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Boxed checkbox options</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
            <!--
        This example requires some changes to your config:
  
            ```
            // tailwind.config.js
            module.exports = {
                // ...
                plugins: [
                // ...
                require('@tushargugnani/tailwind-group-peer-checked'),
                ],
            }
            ```
                -->
        <div class="w-96">
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=3')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Katick Ramson</div>
                    <div class="text-gray-700">Full Stack Developer</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=4')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Richard Balmon</div>
                    <div class="text-gray-700">Front End Developer</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=5')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Salomi Lu</div>
                    <div class="text-gray-700">Product Manager</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=7')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Patrick Dixon</div>
                    <div class="text-gray-700">Designer</div>
                  </div>
                </div>
              </div>
            </label>
              <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=8')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">John Doe</div>
                    <div class="text-gray-700">Scrum Master</div>
                  </div>
                </div>
              </div>
            </label>
          </div>
    </div>
</div>
<!-- Image Checkbox-->
<div class="my-10">
  <h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox with Images</h4>
  <div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="grid grid-cols-3 gap-4">
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/237/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/1/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/301/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/305/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/314/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/323/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/423/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/514/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/405/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
    </div>    
  </div>
</div>








        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>