<div class="mt-7 text-center px-24">
    <h2 class="text-gray-600 text-3xl">Pick a <span class="text-yellow-800 font-semibold">Tech</span> to get <span class="text-yellow-800 font-semibold">Better</span> at</h2>
    <div class="flex justify-center mt-5 flex-wrap">
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/laravel.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/livewire.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/tailwindcss.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/bootstrap.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/git.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/dusk.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/alpinejs.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/php.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/vuejs.png" alt="Laravel Roadmap">
			</div>
        </a>
        <a href="<?php echo $tech['url'] ?>">
			<div class="rounded border p-3 m-2 cursor-pointer bg-white hover:bg-yellow-100 hover:scale-105">
				<img width="100px" src="/images/templates/5balloons/icons/wordpress.png" alt="Laravel Roadmap">
			</div>
        </a>
    </div>
</div>