
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Progress Bars</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800 flex items-center">
                  <img src="/images/logo.png" class="w-8 h-8 float-left mr-3" /> 
                  <span class="text-sky-700">Tailwind Stamps</span></div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 hidden md:block border-r pt-5 mr-5 pr-5 text-gray-700 overflow-y-scroll">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/cards/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Cards
                </div>
            </a>
            <a href="/components/checkbox/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Checkbox
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/input-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Input Box
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/radio-buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Radio Buttons
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
            <a href="/components/toggle/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Toggle
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-5">
        

       <div class="my-10">
<h2 class="text-3xl font-semibold text-gray-800 my-3">Progress Bars</h2>
<!-- Progress Bar Single Colour-->
<h4 class="my-2 text-lg text-gray-700 font-medium">Simple Progress Bar</h4>
<div class="tailwind-example border rounded-t p-3">
    <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" role="progressbar">
        <div style="width:30%" class="bg-purple-400 h-4 rounded-l-lg"></div>
    </div>
</div>
</div>

<div class="my-10">
    <!-- Progress Bar Single Colour-->
    <h4 class="my-2 text-lg text-gray-700 font-medium">Progress Bar Different Colors</h4>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-300 rounded-lg h-4 my-3" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:30%" class="bg-purple-400 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-3" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:40%" class="bg-red-400 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-3" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:50%" class="bg-orange-400 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-3" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:60%" class="bg-green-400 h-4 rounded-l-lg"></div>
        </div>
    </div>
</div>

<div class="my-10">
    <!-- Progress Bar % Indicator Colors-->
    <h3 class="my-2 text-lg text-gray-700 font-medium">Progress Bar with Label</h3>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:40%" class="bg-orange-400 h-4 rounded-l-lg relative">
                <div class="absolute left-1/2 text-xs text-white font-semibold">40%</div>
            </div>
        </div>
    </div>
</div>

<div class="my-10">
<!-- Progress Bar Multiple Colors-->
<h3 class="my-2 text-lg text-gray-700 font-medium">Multiple Bars</h3>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-200 rounded-lg h-4 my-2">
            <div class="flex">
                <div style="width:5%" class="bg-purple-400 h-4 rounded-l-lg"></div>
                <div style="width:10%" class="bg-green-400 h-4"></div>
                <div style="width:15%" class="bg-yellow-400 h-4"></div>
            </div>
        </div>
    </div>
</div>


<div class="my-10">
<!-- Progress Bar Multiple Colors-->
<h3 class="my-2 text-lg text-gray-700 font-medium">Multiple Bars with Label</h3>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-200 rounded-lg h-4 my-2">
                <div class="flex">
                    <div style="width:5%" class="bg-purple-400 h-4 rounded-l-lg"></div>
                    <div style="width:10%" class="bg-green-400 h-4"></div>
                    <div style="width:15%" class="bg-yellow-400 h-4"></div>
                </div> 
                <div class="flex items-center py-0.5" style="width:30%">            
                    <div class="flex-grow border-t border-gray-400"></div>           
                    <div class="text-xs flex-shrink pl-auto text-center px-1 font-medium text-gray-800">30%</div>
                    <div class="flex-grow border-t border-gray-400"></div>
                </div>
        </div>
    </div>
</div>

<div class="my-10">
<!-- Progress Bar Multiple Colors-->
<h3 class="my-2 text-lg text-gray-700 font-medium">Multiple Bars with Bar Annotations</h3>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-200 rounded-lg h-4 my-2">
                <div class="flex">
                    <div style="width:5%" class="bg-purple-400 h-4 rounded-l-lg"></div>
                    <div style="width:10%" class="bg-green-400 h-4"></div>
                    <div style="width:15%" class="bg-yellow-400 h-4"></div>
                </div> 
        </div>
        <div>
            <div class="flex flex-wrap justify-start my-5">
                <div class="mr-5">
                     <div class="float-left mr-1 bg-purple-400 rounded-full w-5 h-5"></div>
                     <span class="text-sm align-top">Donations</span>
                </div>
                <div class="mr-5">
                    <div class="float-left mr-1 bg-green-400 rounded-full w-5 h-5"></div>
                    <span class="text-sm align-top">Savings</span>
                </div>
                <div class="mr-5">
                    <div class="float-left mr-1 bg-yellow-400 rounded-full w-5 h-5"></div>
                    <span class="text-sm align-top">Loan</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-10">
    <!-- Progress Bar Single Colour-->
    <h4 class="my-2 text-lg text-gray-700 font-medium">Gradient Progress Bars</h4>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:30%" class="bg-gradient-to-r from-cyan-500 to-blue-500 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:50%" class="bg-gradient-to-r from-sky-500 to-indigo-500 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:60%" class="bg-gradient-to-r from-violet-500 to-fuchsia-500 h-4 rounded-l-lg"></div>
        </div>
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:70%" class="bg-gradient-to-r from-purple-500 to-pink-500 h-4 rounded-l-lg"></div>
        </div>
    </div>
</div>

<div class="my-10">
    <!-- Progress Bar Animation-->
    <h4 class="my-2 text-lg text-gray-700 font-medium">Progress Bar with Pulse Animation</h4>
    <div class="tailwind-example border rounded-t p-3">
        <div class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" role="progressbar">
            <div style="width:30%" class="motion-safe:animate-pulse bg-purple-600 h-4 rounded-l-lg"></div>
        </div>
    </div>
</div>

<div class="my-10">
<!-- Progress Bar Single Colour-->
<h4 class="my-2 text-lg text-gray-700 font-medium">Simple Progress Bar with Load Animation</h4>
<div class="tailwind-example border rounded-t p-3">
    <div x-data="{width: 0}" 
    x-init="$nextTick(() => { width = 30 })"
    class="bg-gray-300 rounded-lg h-4 my-2" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" role="progressbar">
        <div 
            :style="`width: ${width}%; transition: width 5s;`" class="bg-purple-400 h-4 rounded-l-lg relative">
            <div class="absolute text-xs text-white font-semibold right-0 mr-2"><span x-text="width"></span>%</div>
        </div>
    </div>
</div>
</div>


        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>