---
layout: template-layout.njk
title: Post Single
---
<!-- Navigation-->
{% include './partials/nav.html' %}
<div class="container max-w-screen-lg mx-auto px-5 md:px-10 mt-10">
    <article class="px-4 py-10 mx-auto max-w-full bg-white rounded border border-yellow-200" itemid="#" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="w-full mx-auto mb-12 text-left md:w-3/4 lg:w-3/4 ">
          <img src="https://picsum.photos/500/200" class="object-cover w-full h-80 bg-center rounded-lg" alt="Kutty" />
          <p class="mt-6 mb-2 text-sm font-semibold tracking-wider uppercase text-orange-600">Development</p>
          <h1 class="mb-3 text-3xl font-bold leading-tight text-gray-900 md:text-4xl" itemprop="headline" title="Rise of Tailwind - A Utility First CSS Framework">
            Rise of Tailwind - A Utility First CSS Framework
          </h1>
          <div class="flex mb-6 space-x-2">
            <a class="text-gray-800 text-sm bg-amber-200 rounded-full px-2 hover:bg-amber-200" href="#">CSS</a>
            <a class="text-gray-800 text-sm bg-amber-200 rounded-full px-2 hover:bg-amber-200" href="#">Tailwind</a>
            <a class="text-gray-800 text-sm bg-amber-200 rounded-full px-2 hover:bg-amber-200" href="#">AlpineJS</a>
          </div>
          <a class="flex items-center text-gray-700" href="#">
            <div class="rounded-full"><img class="rounded-full w-14 h-14" src="https://secure.gravatar.com/avatar/da6182623b9a825b2568fe69186b8cdc?s=192&d=mm" alt="Photo of Praveen Juge" /></div>
            <div class="ml-2">
              <p class="text-sm font-semibold text-gray-800">Tushar Gugnani</p>
              <p class="text-sm text-gray-500">Jan 02 2021</p>
            </div>
          </a>
        </div>
      
        <div class="w-full mx-auto prose md:w-3/4 lg:w-3/4">
          <p>
            What if there is an easy way to achieve responsive UI without using any UI kit? Can we create new and fresh designs for every project with a CSS framework? Enter Tailwind CSS, will this be the
            perfect CSS framework, well let’s find out.
          </p>
          <p>Tailwind is a utility-first CSS framework, the keyword being ‘utility’. It is basically a set of classes that you can use in your HTML.</p>
          <pre><code class="lang-css">
      .bg-purple-700 {
        background-color: #6b46c1;
      }
      
      .px-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }</code></pre
          >
          <p>
            Therefore, we don’t have to write any custom CSS to get this button. This can be heavily extended to build whole web applications without the need for any other styles apart from a tailwind.
          </p>
          <p>...</p>
        </div>
      </article>
      
</div>
{% include './partials/footer.html' %}



