
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Toggle Switch</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/">
                  <div class="text-xl font-semibold text-gray-800 flex items-center">
                    <img src="/images/logo.png" class="w-6 h-6 float-left mr-3" /> 
                    <span class="text-orange-500">
                        Tailwind 
                        <span class="text-orange-700">Stamps</span>
                    </span>
                  </div>
                </a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 hidden md:block border-r pt-5 mr-5 pr-5 text-gray-700 overflow-y-scroll">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/cards/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Cards
                </div>
            </a>
            <a href="/components/checkbox/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Checkbox
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/input-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Input Box
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/pagination/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Pagination
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/radio-buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Radio Buttons
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    SearchBox
                </div>
            </a>
            <a href="/components/select-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Select Box
                </div>
            </a>
            <a href="/components/tabs/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Tabs
                </div>
            </a>
            <a href="/components/textarea/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer ">
                    Textarea
                </div>
            </a>
            <a href="/components/toggle/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-orange-400 cursor-pointer  bg-orange-100 border-orange-300 ">
                    Toggle
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-auto px-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Toggle</h2>
<!-- Toggle Switch Big-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Toggle Switch <span class="ml-2 p-1 rounded text-xs bg-gray-400 text-white">Uses AlpineJS</span></h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="flex items-center justify-start" x-data="{enabled: false}">
        <button  @click="enabled = !enabled" type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
            <span class="sr-only">Use setting</span>
            <span aria-hidden="true" class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
        </button>
    </div>
</div>
</div>
<!-- Toggle Switch Sleek-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Toggle Switch Sleek<span class="ml-2 p-1 rounded text-xs bg-gray-400 text-white">Uses AlpineJS</span></h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="flex items-center justify-start" x-data="{enabled: false}">
            <button  @click="enabled = !enabled" type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-5 w-10 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
                <span class="sr-only">Sleek Toggle</span>
                <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
            </button>
        </div>
    </div>
</div>
<!-- Single Switch with Label-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Single Switch with Label<span class="ml-2 p-1 rounded text-xs bg-gray-400 text-white">Uses AlpineJS</span></h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div x-data="{enabled: false}">
            <label class="flex items-center justify-start ">
            <span class="order-2 text-gray-800 text-sm ml-3">I agree with terms and conditions</span>
            <button  @click="enabled = !enabled" type="button" class="order-1 bg-gray-200 relative inline-flex flex-shrink-0 h-5 w-10 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
                <span class="sr-only">Sleek Toggle</span>
                <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
            </button>
            </label>
        </div>
    </div>
</div>
<!-- Multiple Switches with Label-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Multiple Switches with Label<span class="ml-2 p-1 rounded text-xs bg-gray-400 text-white">Uses AlpineJS</span></h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="w-80">
        <label class="mb-2 block">Notifications</label>
        <div class="border-b py-3" x-data="{enabled: false}">
            <label class="flex items-center justify-between">
            <span class="text-gray-800 text-sm">Push Notifications</span>
            <button  @click="enabled = !enabled" type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-5 w-10 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
                <span class="sr-only">Sleek Toggle</span>
                <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
            </button>
            </label>
        </div>
        <div class="border-b py-3" x-data="{enabled: false}">
            <label class="flex items-center justify-between">
            <span class="text-gray-800 text-sm">SMS Notifications</span>
            <button  @click="enabled = !enabled" type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-5 w-10 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
                <span class="sr-only">Sleek Toggle</span>
                <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
            </button>
            </label>
        </div>
        <div class="border-b py-3" x-data="{enabled: false}">
            <label class="flex items-center justify-between">
            <span class="text-gray-800 text-sm">Email Notifications</span>
            <button  @click="enabled = !enabled" type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-5 w-10 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="enabled && 'bg-indigo-600'" role="switch" aria-checked="false">
                <span class="sr-only">Sleek Toggle</span>
                <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200" :class="enabled && 'translate-x-5'"></span>
            </button>
            </label>
        </div>

        </div>
    </div>
</div>

        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var codeSvg = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">\
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />\
                            </svg>';

               var componentCode = e.innerHTML;
               componentCodeLinesCount = componentCode.split(/\r\n|\r|\n/).length;

               var showButton = false;
               var showCodeButton = '';
               if(componentCodeLinesCount > 15){
                    showButton = true;
                    showCodeButton = '';
               }
               var componentCodeWidget = '<div x-data="{showButton : '+showButton+'}" class="relative tailwind-clipboard bg-gray-100" >\
                                            <div :class="showButton ? \'h-48 overflow-y-hidden\' : \'overflow-auto h-full\'">\
                                            <script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt>\
                                            </div>\
                                            <button style="display:none" x-show="showButton" @click="showButton = false" class="rounded border border-orange-500 text-sm bg-orange-400 hover:bg-orange-500 max-w-max text-white px-1.5 py-0.5 absolute -bottom-2 left-0 right-0 mx-auto flex items-center">'+codeSvg+' Show Code</button>\
                                          </div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>