
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Badge</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800">TailwindCSS Components</div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 border-r pt-5 mr-5 pr-5 text-gray-700">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
</aside>
    <div class="container max-w-screen-lg pt-5 mx-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Badges</h2>
<!-- Badge-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Button Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <button type="button" class="rounded bg-blue-500 hover:bg-blue-700 p-2 text-white font">
            Notifications <span class="rounded bg-gray-100 text-black py-0.25 px-1">4</span>
        </button>
    </div>
</div>

<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Color Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <span class="py-0.5 px-1 rounded bg-blue-500 text-white text-xs">Primary</span>
        <span class="py-0.5 px-1 rounded bg-gray-500 text-white text-xs">Secondary</span>
        <span class="py-0.5 px-1 rounded bg-green-500 text-white text-xs">Success</span>
        <span class="py-0.5 px-1 rounded bg-red-500 text-white text-xs">Danger</span>
        <span class="py-0.5 px-1 rounded bg-yellow-500 text-white text-xs">Warning</span>
        <span class="py-0.5 px-1 rounded bg-teal-500 text-white text-xs">Info</span>
        <span class="py-0.5 px-1 rounded bg-gray-200 text-black text-xs">Light</span>
        <span class="py-0.5 px-1 rounded bg-gray-800 text-white text-xs">Dark</span>
    </div>
</div>

<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Pill Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <span class="py-0.5 px-1 rounded-full bg-blue-500 text-white text-xs">Primary</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-500 text-white text-xs">Secondary</span>
        <span class="py-0.5 px-1 rounded-full bg-green-500 text-white text-xs">Success</span>
        <span class="py-0.5 px-1 rounded-full bg-red-500 text-white text-xs">Danger</span>
        <span class="py-0.5 px-1 rounded-full bg-yellow-500 text-white text-xs">Warning</span>
        <span class="py-0.5 px-1 rounded-full bg-teal-500 text-white text-xs">Info</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-200 text-black text-xs">Light</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-800 text-white text-xs">Dark</span>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Tags with remove button</h4>
        <div class="tailwind-example border rounded-t p-2 text-center text-sm flex justify-center">
            <!-- Tag 1-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Laravel</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-100 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>

            <!--Tag 2-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Livewire</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-100 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>

            <!--Tag 3-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Alpine JS</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-50 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>
        </div>
</div>
        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>