---
layout: base.njk
title: Tailwind Badge
eleventyNavigation:
  key: Badge
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Badges</h2>
<!-- Badge-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Button Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <button type="button" class="rounded bg-blue-500 hover:bg-blue-700 p-2 text-white font">
            Notifications <span class="rounded bg-gray-100 text-black py-0.25 px-1">4</span>
        </button>
    </div>
</div>

<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Color Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <span class="py-0.5 px-1 rounded bg-blue-500 text-white text-xs">Primary</span>
        <span class="py-0.5 px-1 rounded bg-gray-500 text-white text-xs">Secondary</span>
        <span class="py-0.5 px-1 rounded bg-green-500 text-white text-xs">Success</span>
        <span class="py-0.5 px-1 rounded bg-red-500 text-white text-xs">Danger</span>
        <span class="py-0.5 px-1 rounded bg-yellow-500 text-white text-xs">Warning</span>
        <span class="py-0.5 px-1 rounded bg-teal-500 text-white text-xs">Info</span>
        <span class="py-0.5 px-1 rounded bg-gray-200 text-black text-xs">Light</span>
        <span class="py-0.5 px-1 rounded bg-gray-800 text-white text-xs">Dark</span>
    </div>
</div>

<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Pill Badges</h4>
    <div class="tailwind-example border rounded-t p-2 text-center text-sm">
        <span class="py-0.5 px-1 rounded-full bg-blue-500 text-white text-xs">Primary</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-500 text-white text-xs">Secondary</span>
        <span class="py-0.5 px-1 rounded-full bg-green-500 text-white text-xs">Success</span>
        <span class="py-0.5 px-1 rounded-full bg-red-500 text-white text-xs">Danger</span>
        <span class="py-0.5 px-1 rounded-full bg-yellow-500 text-white text-xs">Warning</span>
        <span class="py-0.5 px-1 rounded-full bg-teal-500 text-white text-xs">Info</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-200 text-black text-xs">Light</span>
        <span class="py-0.5 px-1 rounded-full bg-gray-800 text-white text-xs">Dark</span>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Tags with remove button</h4>
        <div class="tailwind-example border rounded-t p-2 text-center text-sm flex justify-center">
            <!-- Tag 1-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Laravel</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-100 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>

            <!--Tag 2-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Livewire</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-100 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>

            <!--Tag 3-->
            <div class="rounded-full border border-blue-500 flex items-center w-max py-1 px-3 bg-blue-400 mx-1">
                <div class="text-blue-100 mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <span class="text-white font-semibold">Alpine JS</span> 
                <div class="ml-2 cursor-pointer rounded-full bg-blue-50 text-gray-500 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </div>
            </div>
        </div>
</div>