---
layout: base.njk
title: Tailwind Buttons
eleventyNavigation:
  key: Buttons
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Buttons</h2>
<!-- Horizonal Divider-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Buttons</h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <button class="p-2 rounded bg-blue-500 hover:bg-blue-600 text-white border-blue-700 mx-1">Primary</button>
    <button class="p-2 rounded bg-gray-500 hover:bg-gray-600 text-white border-gray-700 mx-1">Secondary</button>
    <button class="p-2 rounded bg-green-500 hover:bg-green-600 text-white border-gray-700 mx-1">Success</button>
    <button class="p-2 rounded bg-red-500 hover:bg-red-600 text-white border-gray-700 mx-1">Danger</button>
    <button class="p-2 rounded bg-yellow-500 hover:bg-yellow-600 text-white border-gray-700 mx-1">Warning</button>
    <button class="p-2 rounded bg-sky-500 hover:bg-sky-600 text-white border-gray-700 mx-1">Info</button>
    <button class="p-2 rounded bg-gray-800 hover:bg-black text-white border-gray-700 mx-1">Dark</button>
</div>
</div>

<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Button with Icons</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <button class="flex items-center p-2 rounded bg-blue-500 hover:bg-blue-600 text-white border-blue-700 mx-1">
            <div class="mx-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
            </svg>
            </div>
            <span class="mx-2">Print</span>
        </button>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Gradient Button</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <button class="rounded bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white p-2 font-semibold">Hover me</button>
    </div>
</div>




