---
layout: base.njk
title: Tailwind Cards
eleventyNavigation:
  key: Cards
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Cards</h2>
<!-- Badge-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Card with Image</h4>
    <div class="tailwind-example border rounded-t p-2 text-sm">
        <div class="mx-auto w-1/2 rounded shadow-lg border overflow-hidden mt-5 bg-white">
            <div class="relative pb-[60%]">
              <img src="https://picsum.photos/300/200" class="absolute object-cover h-full w-full" />
            </div>
            <div class="p-4 text-sm font-medium text-gray-700">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, maiores veniam. Vitae eum ipsum, aperiam vero facilis blanditiis tenetur, maxime, suscipit ullam velit necessitatibus. Saepe, cum consequuntur! Deleniti, nam amet!</div>
        </div>
    </div>
</div>

