---
layout: base.njk
title: Tailwind Checkboxes
eleventyNavigation:
  key: Checkbox
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Checkbox</h2>
<!-- CheckBoxes-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox</h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="w-max">
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2" checked/>
            <span>Option 1</span>
        </label>
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
            <span>Option 2</span>
        </label>
        <label class="block text-gray-700 my-1 flex items-center">
            <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
            <span>Option 3</span>
        </label>
    </div>
</div>
</div>
<!-- Inline Checkboxes-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Inline CheckBox</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="w-max flex">
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2" checked/>
                <span>Option 1</span>
            </label>
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
                <span>Option 2</span>
            </label>
            <label class="text-gray-700 my-1 flex items-center mr-4">
                <input type="checkbox" name="radio-example" class="mr-2 w-4 h-4 focus:ring-2"/>
                <span>Option 3</span>
            </label>
        </div>
    </div>
</div>
<!-- Checkboxes with Description-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox with Description</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="w-96">
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="defualt-checkbox" class="peer w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800 ">Default Checkbox</span>
                    <span class="block text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur ...</span>
                </div>
            </label>
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="logner-description" class="w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800">Longer checkbox items that wraps on to seperate lines</span>
                    <span class="block text-sm text-gray-500">Lorem ipsum dolor sit asdf as asdf asf asd fasf af a asf as asdf asdfa</span>
                </div>
            </label>
            <label class="flex items-start space-x-3 mb-3">
                <div>
                    <input type="checkbox" value="no-description" class="w-4 h-4">
                </div>
                <div class="-mt-0.5">
                    <span class="text-gray-800">Checkbox with no description</span>
                </div>
            </label>
        </div>
    </div>
</div>
<!-- CheckBoxes-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Boxed checkbox options</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
            <!--
        This example requires some changes to your config:
  
            ```
            // tailwind.config.js
            module.exports = {
                // ...
                plugins: [
                // ...
                require('@tushargugnani/tailwind-group-peer-checked'),
                ],
            }
            ```
                -->
        <div class="w-96">
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=3')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Katick Ramson</div>
                    <div class="text-gray-700">Full Stack Developer</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=4')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Richard Balmon</div>
                    <div class="text-gray-700">Front End Developer</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=5')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Salomi Lu</div>
                    <div class="text-gray-700">Product Manager</div>
                  </div>
                </div>
              </div>
            </label>
            <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=7')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">Patrick Dixon</div>
                    <div class="text-gray-700">Designer</div>
                  </div>
                </div>
              </div>
            </label>
              <label>
              <input type="checkbox" name="form-project-manager[]" value="1" class="peer sr-only" />
              <div class="group mb-3 flex items-center rounded border p-3 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-focus:ring-2">
                <div class="mr-3">
                  <div class="mr-2 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
                    <svg class="group-peer-checked:block pointer-events-none hidden h-3 w-3 fill-current text-white" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                          <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z" />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="mr-3 h-10 w-10 rounded-full bg-[url('https://i.pravatar.cc/50?img=8')] bg-cover"></div>
                  <div>
                    <div class="font-semibold">John Doe</div>
                    <div class="text-gray-700">Scrum Master</div>
                  </div>
                </div>
              </div>
            </label>
          </div>
    </div>
</div>
<!-- Image Checkbox-->
<div class="my-10">
  <h4 class="my-2 text-lg text-gray-700 font-medium">Checkbox with Images</h4>
  <div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="grid grid-cols-3 gap-4">
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/237/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/1/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/301/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/305/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/314/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/323/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/423/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/514/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
      <label>
        <input type="checkbox" name="picture[]" value="1" class="peer sr-only" />
        <div class="group mb-3 flex h-24 w-36 rounded border bg-[url('https://picsum.photos/id/405/150/150')] bg-cover bg-center bg-no-repeat opacity-80 ring-offset-2 peer-checked:border-blue-500 peer-checked:bg-blue-50 peer-checked:opacity-100 peer-focus:ring-2">
          <div class="m-1 flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border-2 border-blue-300 bg-white focus-within:border-blue-500">
            <svg class="pointer-events-none hidden h-3 w-3 fill-current text-white group-peer-checked:block" version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-9 -11)" fill="#1F73F1" fill-rule="nonzero">
                  <path d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </label>
    </div>    
  </div>
</div>







