---
layout: base.njk
title: Tailwind Dividers
eleventyNavigation:
  key: Dividers
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Dividers</h2>
<!-- Horizonal Divider-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Horizontal Divider</h4>
<div class="tailwind-example border rounded-t p-3">
    <div class="flex my-2 text-sm font-semibold items-center text-gray-800">
        <div class="flex-grow border-t h-px mr-3"></div>
        OR
        <div class="flex-grow border-t h-px ml-3"></div>
    </div>
</div>
</div>
<!-- Horizonal Divider circled-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Horizontal Divider Circled</h4>
    <div class="tailwind-example border rounded-t p-3">
        <div class="flex my-2 text-sm font-semibold items-center text-gray-800">
            <div class="flex-grow border-t border-purple-200 h-px mr-3"></div>
            <span class="bg-purple-200 rounded-full p-1.5">OR</span>
            <div class="flex-grow border-t border-purple-200 h-px ml-3"></div>
        </div>
    </div>
</div>






