---
layout: base.njk
title: Tailwind Input Box
eleventyNavigation:
  key: Input Box
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Input Box</h2>
<!-- Input Box-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Input Box</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div>
            <!-- Text Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Full Name</label>
                <div class="mt-1">
                    <input type="text" name="example-text-input" placeholder="Enter your fullname" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                </div>
            </div>
            <!-- Password Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Password</label>
                <div class="mt-1">
                    <input type="password" name="example-password-input" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                </div>
            </div>
            <!-- Disabled Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Disabled</label>
                <div class="mt-1">
                    <input type="text" name="example-disabled-input" disabled placeholder="I am disabled" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                </div>
            </div>
            <!-- Readonly Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Readonly</label>
                <div class="mt-1">
                    <input type="text" name="example-readonly-input" readonly value="Value is read only" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                </div>
            </div>
            <!-- Required Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Required <span class="text-red-600 text-base">*</span></label>
                <div class="mt-1">
                    <input type="text" name="example-required-input" placeholder="This field is required" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                </div>
            </div>
            <!-- Required Input-->
            <div class="my-2">
                <label class="text-sm block text-gray-800">Help Text Input</label>
                <div class="mt-1">
                    <input type="text" name="example-required-input" placeholder="This field is required" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-8 p-3 text-sm"/>
                    <span class="text-gray-400 block text-sm mt-1">This is a muted help text</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Legend Style Input Box</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div class="relative">
            <label class="absolute bg-white px-1 text-sm block text-gray-800 bottom-7 left-2">Full Name</label>
            <div class="mt-1">
                <input type="text" placeholder="Enter your fullname" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-10 p-3 pt-5 text-sm"/>
            </div>
        </div>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Floating Input Boxes</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div>
        <div class="relative mb-3">
            <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Email</label>
            <div class="mt-1">
                <input type="text" value="name@example.com" class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-14 p-3 pt-8 text-sm"/>
            </div>
        </div>
        <div class="relative mb-3">
            <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Password</label>
            <div class="mt-1">
                <input type="password" value="xyz123"  class="border border-gray-300 focus:outline-blue-400 rounded w-64 h-14 p-3 pt-8 text-sm"/>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Show Hide Password Field</h4>
    <div class="tailwind-example border rounded-t p-3 flex justify-center">
        <div x-data="{
            showPassword : false
          }" class="w-64">
            <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
            <div  class="mt-1 relative rounded-md shadow-sm">
              <input :type="showPassword ? 'text' : 'password'" name="password" id="password" class="border p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md" placeholder="Enter password">
              <div x-on:click="showPassword = !showPassword" class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer text-gray-500">
                <svg x-show="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <svg x-show="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
              </div>
            </div>
          </div>
    </div>
</div>
