---
layout: base.njk
title: Tailwind Search Box
eleventyNavigation:
  key: Select Box
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Select Box</h2>
<!-- Horizonal Divider-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Select Box</h4>
<div class="tailwind-example border rounded-t p-3">
    <div class="mx-auto w-full max-w-xs">
        <label class="text-sm text-gray-800">Select Box</label>
        <div class="mt-1">
          <select class="mt-1 block w-full rounded-md border border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option value="1">Apple</option>
            <option value="2">Banana</option>
            <option value="3">Orange</option>
          </select>
        </div>
      </div>
</div>
</div>
