---
layout: base.njk
title: Textarea Components - Tailwind Stamps
eleventyNavigation:
  key: Textarea
  parent: Base
---
<h2 class="text-3xl font-semibold text-gray-800 my-3">Textarea</h2>
<!-- Simple Text Area-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Textarea</h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div class="w-80">
        <label class="text-sm">About you</label>
        <div class="mt-1">
            <textarea rows="4" class="rounded p-2 w-full h-full border border-gray-400 focus:outline-0 focus:ring-1 focus:ring-offset-1 text-sm focus:ring-offset-sky-200"></textarea>
        </div>
    </div>
</div>
</div>


<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Textarea with char count feedback <span class="ml-2 p-1 rounded text-xs bg-gray-400 text-white whitespace-nowrap">Uses AlpineJS</span></h4>
<div class="tailwind-example border rounded-t p-3 flex justify-center">
    <div x-data="{totalCharsAllowed : 100, currentCharCount: 0, textAreaInput: ''}" class="w-80">
        <label class="text-sm flex justify-between">About you
            <span class="text-gray-500"><span x-text="currentCharCount"></span>/<span x-text="totalCharsAllowed"></span></span>
        </label>
        <div class="mt-1">
            <textarea :maxlength="totalCharsAllowed" @keyup="currentCharCount = textAreaInput.length" x-model="textAreaInput" rows="4" class="rounded p-2 w-full h-full border border-gray-400 focus:outline-0 focus:ring-1 focus:ring-offset-1 text-sm focus:ring-offset-sky-200">
            </textarea>
        </div>
    </div>
</div>
</div>
