
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Alerts</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800 flex items-center">
                  <img src="/images/logo.png" class="w-8 h-8 float-left mr-3" /> 
                  <span class="text-sky-700">Tailwind Stamps</span></div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 hidden md:block border-r pt-5 mr-5 pr-5 text-gray-700 overflow-y-scroll">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/cards/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Cards
                </div>
            </a>
            <a href="/components/checkbox/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Checkbox
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/input-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Input Box
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/radio-buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Radio Buttons
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
            <a href="/components/toggle/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Toggle
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Alerts</h2>
<!-- Alerts-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Simple Alerts</h4>
        <div class="tailwind-example border rounded-t p-3">
        <div class="p-2 bg-blue-200 text-blue-800 p-4 text-sm rounded border border-blue-300 my-3">
            A simple primary Alert, Check it out !
        </div>
        <div class="p-2 bg-green-100 text-green-800 p-4 text-sm rounded border border-green-300 my-3">
                A simple success Alert, Check it out !
        </div>
        <div class="p-2 bg-red-200 text-red-800 p-4 text-sm rounded border border-red-300 my-3">
            A simple danger Alert, Check it out !
        </div>
        <div class="p-2 bg-yellow-100 text-yellow-800 p-4 text-sm rounded border border-yellow-300 my-3">
            A simple warning Alert, Check it out !
        </div>
        <div class="p-2 bg-teal-100 text-teal-800 p-4 text-sm rounded border border-teal-300 my-3">
            A simple Info Alert, Check it out !
        </div>
        <div class="p-2 bg-gray-100 text-gray-700 p-4 text-sm rounded border border-gray-300 my-3">
            A simple Secondary Alert, Check it out !
        </div>
        </div>
</div>


<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Alerts with Link Colors</h4>
    <div class="tailwind-example border rounded-t p-3">
    <div class="p-2 bg-blue-200 text-blue-800 p-4 text-sm rounded border border-blue-300 my-3">
        A simple primary Alert with <a href="#" class="text-blue-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    <div class="p-2 bg-green-100 text-green-800 p-4 text-sm rounded border border-green-300 my-3">
            A simple success Alert with <a href="#" class="text-green-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    <div class="p-2 bg-red-200 text-red-800 p-4 text-sm rounded border border-red-300 my-3">
        A simple danger Alert with <a href="#" class="text-red-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    <div class="p-2 bg-yellow-100 text-yellow-800 p-4 text-sm rounded border border-yellow-300 my-3">
        A simple warning Alert with <a href="#" class="text-yellow-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    <div class="p-2 bg-teal-100 text-teal-800 p-4 text-sm rounded border border-teal-300 my-3">
        A simple Info Alert with <a href="#" class="text-info-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    <div class="p-2 bg-gray-100 text-gray-800 p-4 text-sm rounded border border-gray-300 my-3">
        A simple Secondary Alert with <a href="#" class="text-gray-900 font-semibold underline">an example link</a>, Check it out !
    </div>
    </div>
</div>


<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Alerts with Additional Content</h4>
    <div class="tailwind-example border rounded-t p-3">
       <div class="p-2 bg-green-100 text-green-800 p-4 text-sm rounded border border-green-300 my-3">
            <h4 class="text-lg font-semibold mb-2">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr class="my-3 bg-green-500 borber-b border-green-300"/>
            <p>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
            </p>
       </div>
    </div>
</div>


<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Dismissable Alerts <span class="ml-2 p-1 rounded text-xs bg-gray-300">Uses AlpineJS</span></h4>
    <div class="tailwind-example border rounded-t p-3">
        <div x-data="{show: true}" x-show="show" x-transition:leave.duration.400ms class="flex p-2 bg-blue-200 text-blue-800 p-4 text-sm rounded border border-blue-300 my-3">
            <div class="flex-grow">A simple dismissable Alert, Check it out !</div>
            <div @click="show = false" class="flex-shrink cursor-pointer text-blue-600 hover:text-blue-800" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="my-10">
    <h4 class="my-2 text-base text-gray-700 font-medium">Alert with Icons</h4>
    <div class="tailwind-component">
        <div class="tailwind-example border rounded-t p-3">
            <div class="flex p-2 bg-blue-200 text-blue-800 p-4 text-sm rounded border border-blue-300 my-3">
                <div class="flex-shrink mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-grow">An example alert with an Icon !</div>
            </div>

            <div class="flex p-2 bg-red-200 text-red-800 p-4 text-sm rounded border border-red-300 my-3">
                <div class="flex-shrink mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-grow">An example alert with an Icon !</div>
            </div>

            <div class="flex p-2 bg-green-200 text-green-800 p-4 text-sm rounded border border-green-300 my-3">
                <div class="flex-shrink mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-grow">An example alert with an Icon !</div>
            </div>

            <div class="flex p-2 bg-yellow-200 text-yellow-800 p-4 text-sm rounded border border-yellow-300 my-3">
                <div class="flex-shrink mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-grow">An example alert with an Icon !</div>
            </div>
        </div>
    </div>
</div>

<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Alert with callout box</h4>
        <div class="tailwind-example border rounded-t p-3">
             <div class="border border-sky-400 border-2 rounded p-3 pt-6 bg-sky-200 relative my-2">
                 <div class="absolute left-0 top-0 px-2 bg-sky-400 font-semibold text-gray-800 rounded-br text-sm">INFO:</div>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, rerum atque. Placeat totam unde quam voluptates facere neque, nam sint doloribus, eum error doloremque assumenda. Sint deserunt quidem quisquam nam?
             </div>
             <div class="border border-yellow-400 border-2 rounded p-3 pt-6 bg-yellow-100 relative my-2">
                <div class="absolute left-0 top-0 px-2 bg-yellow-400 font-semibold text-gray-800 rounded-br text-sm">WARNING:</div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, rerum atque. Placeat totam unde quam voluptates facere neque, nam sint doloribus, eum error doloremque assumenda. Sint deserunt quidem quisquam nam?
            </div>
            <div class="border border-red-400 border-2 rounded p-3 pt-6 bg-red-100 relative my-2">
                <div class="absolute left-0 top-0 px-2 bg-red-400 font-semibold text-gray-800 rounded-br text-sm">OOPS:</div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, rerum atque. Placeat totam unde quam voluptates facere neque, nam sint doloribus, eum error doloremque assumenda. Sint deserunt quidem quisquam nam?
            </div>
        </div>
</div>
        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>