<nav aria-label="Post Navigation" class="flex justify-end">
    <ul class="flex items-center space-x-2">
      <li class="flex items-center">
        <a href="#" class="cursor-pointer rounded border border bg-white px-3 py-1.5 ring-yellow-300 hover:bg-yellow-100 focus:ring-2"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
            <path fill-rule="evenodd" d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z" clip-rule="evenodd" />
          </svg>
        </a>
      </li>
      <li><a href="#" class="cursor-pointer rounded border border bg-white px-3 py-1.5 ring-yellow-300 ring-offset-1 hover:bg-yellow-100 focus:ring-2">1</a></li>
      <li><a href="#" class="cursor-pointer rounded border border border-yellow-400 bg-yellow-300 px-3 py-1.5 ring-yellow-300 focus:ring-2">2</a></li>
      <li><a href="#" class="cursor-pointer rounded border border bg-white px-3 py-1.5 ring-yellow-300 hover:bg-yellow-100 focus:ring-2">3</a></li>
      <li class="flex items-center">
        <a href="#" class="cursor-pointer rounded border border bg-white px-3 py-1.5 ring-yellow-300 hover:bg-yellow-100 focus:ring-2"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
            <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" /></svg></a>
      </li>
    </ul>
  </nav>