    <!-- Hero-->
    <div class="flex rounded border border-yellow-300 items-center bg-white p-5 px-10 mx-10">
        <div class="flex-1">
            <div class="text-4xl text-gray-800 font-['Roboto_Slab'] font-semibold">Welcome to 5Balloons</div>
            <div class="text-xl text-gray-500 py-10 font-['Patrick_Hand']">Hello <span>&#9995;</span>, This is Tushar.<br/> 5Balloons is my digital garden <span>&#127793;</span>. In here I write technical articles, programming tips and tutorials.
             <br/><br/>Have fun exploring and learning !</div>
        </div>
        <div class="hidden md:block">
            <img class="w-80" class="mr-10" src="/images/templates/5balloons/hero-guy.svg" />
        </div>
    </div>
