
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Dividers</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800 flex items-center">
                  <img src="/images/logo.png" class="w-8 h-8 float-left mr-3" /> 
                  <span class="text-sky-700">Tailwind Stamps</span></div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 hidden md:block border-r pt-5 mr-5 pr-5 text-gray-700 overflow-y-scroll">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/button-group/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Button Group
                </div>
            </a>
            <a href="/components/buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Buttons
                </div>
            </a>
            <a href="/components/cards/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Cards
                </div>
            </a>
            <a href="/components/checkbox/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Checkbox
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Dropdown
                </div>
            </a>
            <a href="/components/input-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Input Box
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/radio-buttons/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Radio Buttons
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
            <a href="/components/select-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Select Box
                </div>
            </a>
            <a href="/components/toggle/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Toggle
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-auto px-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Dropdown</h2>
<!-- Google Chat Status Dropdown-->
<div class="my-10">
<h4 class="my-2 text-lg text-gray-700 font-medium">Dropdown with divider</h4>
<div class="tailwind-example flex justify-center border rounded-t p-3">
    <div class="relative" x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }

            this.open = true
        },
        close(focusAfter) {
            this.open = false

            focusAfter && focusAfter.focus()
        }
    }"
    x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']">
        <!-- Dropdown Button-->
        <button x-ref="button"
        x-on:click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        type="button" class="flex items-center justify-between rounded-full border p-1.5">
            <div class="ml-2 mr-1 rounded-full w-3 h-3 bg-green-700"></div>
            <div class="pl-1 pr-2 text-gray-700 text-sm">
            Active
            </div>
            <div class="mr-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
        </button>
        <!-- Dropdown Panel-->
        <div x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none;" class="absolute z-10 bg-white border mt-2 rounded w-max">
            <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer">
                <div class="ml-2 mr-3 rounded-full w-3 h-3 bg-green-700"></div>
                <div class="pl-1 pr-2 mr-10 text-gray-700 text-sm">
                    Active
                    <div class="text-xs text-gray-500">Based on activity</div>
                </div>
                <div class="text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                    </svg>
                </div>
            </div>
            <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer">
                <div class="ml-2 mr-3 rounded-full w-3 h-3 bg-red-600"></div>
                <div class="pl-1 pr-2 mr-10 text-gray-700 text-sm">
                    Do not Disturb
                    <div class="text-xs text-gray-500">Mute notifications</div>
                </div>
            </div>
            <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer">
                <div class="ml-2 mr-3 rounded-full w-3 h-3 bg-yellow-500"></div>
                <div class="pl-1 pr-2 mr-10 text-gray-700 text-sm">
                    Set as away
                </div>
            </div>
            <div class="py-2 border-t">
              <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer ">
                  <div class="ml-2 mr-3">
                   <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                   </svg>
                   </div>
                   <div class="pl-1 pr-2 mr-10 text-gray-700 text-sm">
                    Add a Status
                   </div>
              </div>
            </div>
            <div class="py-2 border-t">
                <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer ">
                    <div class="ml-2 mr-3"></div>
                     <div class="pl-1 pr-2 mr-10 text-gray-700 text-sm">
                      Chat Notification settings
                     </div>
                </div>
              </div>
        </div>
    </div>
</div>
</div>


<!-- Stripe Dropdown-->
<div class="my-10">
    <h4 class="my-2 text-lg text-gray-700 font-medium">Drops in Middle</h4>
    <div class="tailwind-example flex justify-center border rounded-t p-3">
        <div class="relative" x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }
    
                this.open = true
            },
            close(focusAfter) {
                this.open = false
    
                focusAfter && focusAfter.focus()
            }
        }"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
            x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
            x-id="['dropdown-button']">
            <!-- Dropdown Button-->
            <button x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button" class="flex items-center justify-between border-b p-1.5">
                <div class="pl-1 pr-2 text-gray-700 text-sm">
                Docs
                </div>
                <div class="mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="rotate-0 h-5 w-5" :class="open && 'rotate-180'" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </div>
            </button>
            <!-- Dropdown Panel-->
            <div x-ref="panel"
            x-show="open"
            x-transition.origin.top.left
            x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')"
            style="display: none;" class="absolute z-10 bg-white border mt-2 rounded w-48 -left-1/2">
            <div class="py-2">
                <div class="p-2 hover:bg-blue-100 cursor-pointer">
                    <div class="pl-1 pr-2 text-indigo-700 text-sm">
                        API
                    </div>
                </div>
                <div class="p-2 hover:bg-blue-100 cursor-pointer">
                    <div class="pl-1 pr-2 text-indigo-700 text-sm">
                        Javascript
                    </div>
                </div>
                <div class="p-2 hover:bg-blue-100 cursor-pointer">
                    <div class="pl-1 pr-2 text-indigo-700 text-sm">
                        CLI
                    </div>
                </div>
            </div>
                <div class="py-2 border-t">
                  <div class=" p-2 hover:bg-gray-200 cursor-pointer ">
                       <div class="pl-1 pr-2 mr-5 text-gray-700 text-sm">
                        IOS
                       </div>
                  </div>
                    <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer ">
                         <div class="pl-1 pr-2 text-gray-700 text-sm">
                          Andriod
                         </div>
                    </div>
                    <div class="flex items-center p-2 hover:bg-gray-200 cursor-pointer ">
                        <div class="pl-1 pr-2 text-gray-700 text-sm">
                         React Native
                        </div>
                   </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>



        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>