
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Navigations</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .copy-to-clipboard-button{
            position: absolute;
            top: 0.65rem;
            right: 0.65rem;
            z-index: 10;
            display: block;
            padding: 0.25rem 0.5rem !important;
            font-size: .65em !important;
            color: #0d6efd !important;
            background-color: #fff !important;
            border: 1px solid !important;
            border-radius: 0.25rem !important;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7BRZTR45X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7BRZTR45X');
</script>
</head>
<body>
        <header>
            <div class="flex items-center justify-between h-14 border-b px-6">
                <a href="/"><div class="text-2xl font-semibold text-gray-800">TailwindCSS Components</div></a>
                <div>
                  <a href="https://github.com/tushargugnani/tailwindcss-components" target="_blank">
                    <img class="w-8 h-8 rounded-full m-1 bg-gradient-to-r from-green-300 to-blue-200 hover:from-pink-500 hover:to-yellow-500" src="/images/github-icon.png" alt="tailwind free componenets github" />
                  </a>
                </div>
            </div>
    </header>

   <div class="flex">
    <aside class="w-64 h-screen sticky top-0 border-r pt-5 mr-5 pr-5 text-gray-700">
    <span class="text-sm font-semibold ml-4">Base</span>
    
            <a href="/components/accordion/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Accordion
                </div>
            </a>
            <a href="/components/alerts/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Alert
                </div>
            </a>
            <a href="/components/badge/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Badge
                </div>
            </a>
            <a href="/components/dividers/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dividers
                </div>
            </a>
            <a href="/components/dropdown/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Dropdown
                </div>
            </a>
            <a href="/components/nav/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer  bg-blue-100 border-blue-300 ">
                    Nav
                </div>
            </a>
            <a href="/components/progress-bars/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    Progress Bar
                </div>
            </a>
            <a href="/components/search-box/">
                <div class="p-2 ml-5 my-2 text-sm border rounded hover:border-blue-500 cursor-pointer ">
                    SearchBox
                </div>
            </a>
</aside>
    <div class="container max-w-screen-md pt-5 mx-5">
        

       <h2 class="text-3xl font-semibold text-gray-800 my-3">Navs</h2>
<!-- Instagram Nav-->
<h4 class="my-2 text-lg text-gray-700 font-medium">Instagram Navigation</h4>
<div class="tailwind-example border rounded-t p-3">
    <nav class="h-14 bg-white border-b border-gray-300">
        <div class="h-full w-full max-w-4xl mx-auto flex items-center justify-between">
             <!-- Logo -->
             <div>
                 <img src="/images/Instagram_logo.png" class="h-8 ml-3" alt="Instagram Logo" />
             </div>
             <!-- Search Bar -->
             <div class="hidden md:block">
                 <div class="relative">
                     <input type="text" class="rounded bg-gray-100 p-1.5 text-sm pl-8 w-60" placeholder="Search" />
                     <div class="absolute top-2 left-2 text-gray-400">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                             <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                         </svg>
                     </div>
                 </div>
             </div>
             <!-- Icons-->
             <div class="flex text-gray-800">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
                     <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                 </svg>
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                 </svg>
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                 </svg>
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                 </svg>
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                 </svg>
                 <div>
                     <img src="/images/profile-nadal.jpeg" class="rounded-full h-6 w-6 mx-2 cursor-pointer" alt="profile picture" />
                 </div>
             </div>
        </div>
    </nav>
</div>

        
    </div>
    </div>
    <script src="/js/prism.js"></script>

    <script type="text/javascript">
       var tailwindExamples =  document.querySelectorAll('.tailwind-example');
       tailwindExamples.forEach(e => 
           {
               var componentCode = e.innerHTML;
               var componentCodeWidget = '<div class="tailwind-clipboard bg-gray-100"><script type="text/plain" class="language-markup !m-0 !bg-gray-100 !text-sm">'+componentCode+'</scr' + 'ipt></div>';
               e.insertAdjacentHTML('afterend',componentCodeWidget);
               //e.closest('.tailwind-component').querySelector('.language-markup').innerHTML = componentCode;
           }
       );
    </script>

</body>
</html>